\


<!DOCTYPE <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>
            <h1>Admin Menu</h1>
        </title>
    </head>
    <body>
        <p>Placeholder for special admin features.</p>
        <p>Example of default routing</p>
    </body>
</html>