@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PhoneContact
@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        <h1>About Menu</h1>
    </title>
</head>
<body>
    <p>Made by Adin Mujakovic</p>
    <p>Copyright 2026</p>
    <p>Hopefully custom routing works</p>
</body>
</html>
