@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
    <head>
        <h1>Contact me</h1>
    </head>
    <body>
        <p>Email: amujakovic1@dmacc.edu</p>
        <p>Example of custom attribute routing</p>
    </body>
</html>
